---
import Navbar from "../components/Navbar.astro";
const { children } = Astro.props;
---
<Navbar />

<main class="max-w-7xl mx-auto px-4 py-16">
  {children}
</main>

<script type="module" src="/toggle-theme.js"></script>
